/* ---------------------- Navbar section ------------------------ */
.navSection {
  border-bottom: 0.1px solid grey;
}

.customNavLink {
  justify-content: center;
}

.btnFontStyle {
  color: white !important;
  font-size: 15px !important;
}

.customNavLink ul li {
  margin-right: 2.5rem;
}

.customMarginButton {
  margin-left: 5rem;
}

/* ------------------------- Content Section ------------------------ */
.price {
  font-size: 25px;
  font-weight: bold;
}

.contentPaddingTop {
  padding-top: 6rem;
}

.jackpotFont {
  font-size: 23px;
  font-weight: bold;
  float: right;
  padding-top: 2rem;
}

.displayProperty {
  float: right;
}

.displayProperty li {
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
}

.playNowBtn {
  width: 40% !important;
  padding: 0.8rem !important;
  border-radius: 1rem !important;
}

.time {
  font-size: 20px;
  padding-top: 1rem;
}

.timer {
  font-size: 20px;
  font-weight: bold;
}

.PreviousDraw li {
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
}

.btnMargin {
  margin-left: 1rem;
}

/* ---------- Jackpot Ball-Design ------- */
.baseballRed {
  color: red;
}

.baseballCyan {
  color: cyan;
}

.fontWhite span {
  color: white !important;
}

.baseball {
  font-size: 60px;
  position: relative;
  display: block;
}

.baseball > .baseBallNumber {
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 35%;
}

/* -------------- Previous Draw BaseBall ----------- */
.baseballPreviousDraw {
  font-size: 35px;
  position: relative;
  display: block;
}

.baseballPreviousDraw > .baseBallNumber {
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 35%;
}

/* ---------------------------- Footer Section ------------------------------- */

.footerMain {
  position: relative;
}

.footerCustomContainer {
  width: 50%;
  height: auto;
  background-color: rgba(128, 128, 128, 0.123);
  position: absolute;
  left: 30%;
  border-radius: 2rem;
}

.winningNumbers {
  padding-left: 0;
}

.winningNumbers li {
  display: inline-block;
  list-style: none;
  margin-right: 0.5rem;
}

/* -------------- Winning numbers BaseBall ----------- */
.footerBaseBall {
  font-size: 20px;
  position: relative;
  display: block;
}

.footerBaseBall > .baseBallNumber {
  color: black;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 30%;
}

/* -------------- Rotating Ball ----------- */
.circle {
  display: block;
  background: black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}

.stage {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 20px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
}

.ball .shadow {
  position: absolute;
  bottom: 111px;
  left: 8px;
  width: 80%;
  height: 106%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(
    circle at 50% 120%,
    #323232,
    #0a0a0a 80%,
    #000000 100%
  );
}

.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(
    circle at 50% 120%,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 50%;
  width: 40%;
  filter: blur(5px);
  z-index: 2;
}

.ball:after {
  content: "";
  width: 25%;
  height: 25%;
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8) 14%,
    rgba(255, 255, 255, 0) 24%
  );
  filter: blur(10px);
}

.ball .eight {
  width: 30px;
  height: 30px;
  margin: 30%;
  background: white;
  border-radius: 50%;
  position: absolute;
  animation: rotateY 2.5s linear infinite;
}

.ball .eight:before {
  content: "8";
  display: block;
  position: absolute;
  text-align: center;
  height: 80px;
  width: 100px;
  left: 50px;
  margin-left: -83px;
  top: 44px;
  margin-top: -80px;
  color: black;
  font-family: Arial;
  font-size: 20px;
  line-height: 104px;
}

.iris {
  width: 30%;
  height: 30%;
  margin: 30%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    #208ab4 0%,
    #6fbfff 30%,
    #4381b2 100%
  );
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
}

.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  border-radius: 50%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}

.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 50%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg) translateZ(-40px);
    opacity: 0;
  }

  25% {
    transform: rotateY(90deg) translateZ(-35px);
    opacity: 0;
  }

  50% {
    transform: rotateY(180deg) translateZ(-24px);
    opacity: 1;
  }

  75% {
    transform: rotateY(270deg) translateZ(-24px);
    opacity: 0;
  }

  100% {
    transform: rotateY(360deg) translateZ(-24px);
    opacity: 0;
  }
}

.custom {
  color: red;
  background-color: blue;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transform: rotateX(360deg);
  display: flex;
  justify-content: center;
  animation: mymove 5s infinite;
}

.ball.red {
  background: radial-gradient(
    circle at 50% 120%,
    rgba(255, 0, 0, 0.65),
    red 80%,
    red 100%
  );
}

.ball.green {
  background: radial-gradient(
    circle at 50% 120%,
    rgba(0, 128, 0, 0.479),
    green 80%,
    green 100%
  );
}

.stage.scaleMedium{
  transform: scale(0.7);
}

.stage.scaleSmall{
  transform: scale(0.5);
}

.border{
  border: 5px solid red;
}
